<%= form_for Tweet.new, :remote => true do |f| -%>
<table>
  <tr>
    <td>
      <%= f.label :message %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.text_area :message %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.submit "create" %>
    </td>
  </tr>
</table>
<% end -%>