<header class='flex-container flex-item-main center borders'>
        <div>
            <h3>Twitter 2008 grbg</h3>
        </div>
        <div class='left'>
            <%= link_to 'Logout', logout_path %>
        </div>
</header>