/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: 'Bitstream Vera Sans', Verdana, Tahoma, 'Sans serif';
    font-size: 12px;
    margin: 0;
    padding: 0;
    background: #bad6da;
    height: auto;
    min-height: 100%;
    position: relative;
}

header {
    background-color: #d0d0d0;
}

footer {
    background-color: #9bec9b;
}

#profile {
    background-color: #eaea90;
}

#timeline {
    background-color: #e89292;
}

#options {
    background-color: #a1a1d8;
}

.flex-container {
    display: flex;
}

.flex-item-main {
    flex-grow: 3;
}

.flex-item-secondary {
    flex-grow: 2;
}

.flex-item-tertiary {
    flex-grow: 1;
}

 .main {
    justify-content: space-between;
 }

 .center {
    justify-content: center
 }

 .left {
    align-items: left;
 }

 .right {
    align-items: right;
 }

 .forms {
    background-color: whitesmoke;
    padding: 5px;
    width: 300px;
 }
