/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: 'Bitstream Vera Sans', Verdana, Tahoma, 'Sans serif';
    font-size: 12px;
    margin: 0;
    padding: 0;
    background: #f8f7f3;
    height: auto;
    min-height: 100%;
    position: relative;
}

.flex-container {
    display: flex;
}

.flex-item-main {
    flex-grow: 3;
}

.flex-item-secondary {
    flex-grow: 2;
}

.flex-item-tertiary {
    flex-grow: 1;
}

 .main {
    justify-content: space-between;
 }

 .center {
    justify-content: center
 }

 .left {
    align-items: left;
 }

 .right {
    align-items: right;
 }

#profile {
    background-color: yellow;
}

#timeline {
    background-color: red;
}

#options {
    background-color: blue;
}

header {
    background-color: grey;
}

footer {
    background-color: green;
}
